@import 'tailwindcss';

@theme {
  --color-primary-1: #2a9d8f;
  --color-primary-2: #264653;

  --color-secondary-1: #e9c46a;
  --color-secondary-2: #f4a261;
  --color-secondary-3: #e76f51;

  --breakpoint-xs: 480px;

  --background-image-hero-pattern: url('/test-image.png');
}

@layer base {
  h1 {
    @apply mx-auto max-w-4xl font-bold text-white sm:text-[64px] text-5xl text-center leading-tight sm:leading-[76px] tracking-[-1%];
  }

  h2 {
    @apply font-bold text-white text-2xl sm:text-3xl;
  }

  h3 {
    @apply font-bold text-white text-base line-clamp-1;
  }

  main {
    @apply relative bg-primary-2 min-h-screen;
  }

  header {
    @apply mt-5 sm:mt-10;
  }

  header img {
    @apply drop-shadow-md mx-auto w-full max-w-md h-auto object-contain;
  }

  header img:focus {
    @apply shadow-none border-0 outline-none;
  }
}

@layer components {
  .pattern {
    @apply z-0 absolute bg-linear-to-b from-primary-1 to-primary-2 bg-center w-full h-screen;
  }

  .wrapper {
    @apply z-10 relative flex flex-col mx-auto xs:p-10 px-5 py-12 max-w-7xl;
  }
}

@utility text-gradient {
  @apply bg-clip-text bg-linear-to-r from-secondary-2 to-secondary-3 text-transparent;
}

@utility fancy-text {
  -webkit-text-stroke: 5px var(--color-primary-1);
  font-size: 190px;
  font-family: 'Bebas Neue', sans-serif;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
